body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("assets/images/bg_spacex.jpg");
  width: 100%;
  height: 100vh; /* Changed to 100vh for full viewport height */
  background-size: cover;
  color: white;
}

/* Style for the header container */
header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: center; /* Changed to align items to the right */
  align-items: center;
  padding: 20px;
}

/* Style for the logo */
#logo {
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  filter: brightness(0) invert(1) sepia(1) brightness(10);
}
/* #logo.white {
  filter: invert(1);
} */
/* Style for the menu button */
#menuButton {
  cursor: pointer;
  order: 2;
  margin-right: 30px;
}

/* Style for the menu button image */
#menuButton img {
  height: 30px;
}

/* Hide the menu navigation by default */
#menuNavigation {
  display: none;
  position: absolute;
  top: 80px;
  right: 40px;
  text-align: center;
  list-style: none;
  text-align: left;
  padding: 30px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
  font-size: 20px;
}

/* Style for the menu items */
#menuNavigation li {
  margin-bottom: 10px;
}

/* Style for the menu links */
#menuNavigation li a {
  text-decoration: none;
  color: #f6f5f5;
}

/* Show the menu navigation when checkbox is checked */
#menuCheckbox:checked ~ #menuNavigation {
  display: block;
}

.hero-section {
  display: flex;
  margin-left: 30px;
}
.hero-content {
  display: block;
  justify-content: left;
  align-items: center;
  margin-top: 280px;
}
.hero-section .hero-content h1 {
  font-weight: bold;
}
h1,
h2,
h4 {
  text-shadow: 0px 0px 1px black;
}
.hero-section .hero-content .btn {
  margin-left: 80px;
  margin-top: 20px;
  background-color: transparent;
  padding: 10px 40px;
  font-weight: 100;
  /* border: rgb(11, 11, 11); */
  color: white;
}
.hero-section .hero-content .gif {
  width: 305px;
}
